@charset "UTF-8"

$mainColor: #50E3C2
$fs_72: 72px
$fs_48: 48px
$fs_24: 24px
$fs_20: 20px

%clearfix
	&:before
		content: ""
		display: table
	&:after
		content: ""
		display: table
		clear: both
	zoom: 1

@mixin greenBorder($width, $height)
	width: $width
	height: $height
	background: #fff
	border: 20px solid $mainColor
%orderTitle
	white-space: nowrap
	font-weight: bold
	position: relative
%greenBackground
	width: 240px
	height: 200px
	background: $mainColor

//-----------------------------　rwd breakpoint
@mixin breakpoint($point)
	@if $point == pc-large
		@media only screen and (max-width: 1280px)
			@content
	@else if $point == pad-large
		@media only screen and (max-width: 786px)
			@content
	@else if $point == pad-small
		@media only screen and (max-width: 480px)
			@content
	@else if $point == mobile-large
		@media only screen and (max-width: 320px)
			@content
	@else if $point == mobile-small
		@media only screen and (max-width: 240px)
			@content